repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        language_version: system
        files: \.(ts|json|md|html|css|ya?ml)$
        exclude: bun.lock
        additional_dependencies:
          - prettier@latest
          - prettier-config-standard@latest
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type check
        entry: tsc --noEmit
        language: node
        types: [ts]
        pass_filenames: false
        additional_dependencies:
          - typescript@^5.0.0
